<h1 class='card-title'>My Subjects</h1>

<div class="filter-selections">
  <%= form_tag :filter, method: :get do %>
  <%= hidden_field_tag :user, nil %>
  <%= check_box_tag 'diet', 'rapamycin', false, class: 'check-opt' %>
    <%= label_tag 'Rapamycin', nil, class: 'check-label' %>
    <%= check_box_tag 'diet', 'control', false, class: 'check-opt' %>
    <%= label_tag 'Control', nil, class: 'check-label' %>
    <%= check_box_tag 'ploidy', 'true', false, class: 'check-opt' %>
    <%= label_tag 'Trisomic', nil, class: 'check-label' %>
    <%= check_box_tag 'ploidy', 'false', false, class: 'check-opt' %>
    <%= label_tag 'Disomic', nil, class: 'check-label' %></br>
    <%= submit_tag "Filter Mice", id: 'filter-button', class: "card-button" %>
  <% end %>
</div>

<div class='mouse-house'>
  <% @user.tracked_subjects.each do |subject| %>
    <% if subject.user == current_user %>
    <div class='favorite-mouse'>
      <div class='star-icon'><%= link_to image_tag('outline_star.svg', size: "25x25", class: "favorite_icon"), tracked_subject_path(lab_id: subject.mouse.lab_id), method: :delete, class: 'unfavorite-link' %></div>

      <div class='index-mouse-header'>
        <%= link_to "#{subject.mouse.lab_id}", mouse_path(subject.mouse.lab_id) %>
        <div class='protocol-number'><%= subject.mouse.protocol.name %></div>
      </div>
      <% if subject.mouse.harvest_status == 'harvested' %>
        <div class='index-mouse-icons'>
          <%= image_tag('dead-mouse.png', size: "30x30", class: 'favorite_mouse_icon') %>
          <% if subject.mouse.treatment_status == 'off' %>
            <%= image_tag('no_treatment.png', size: "30x30", class: 'treatment_off_icon') %>
          <% else %>
            <%= image_tag('black_treatment.png', size: "30x30", class: 'treatment_off_icon') %>
          <% end %>
        </div>
      <% else %>
        <div class='index-mouse-icons'>
          <%= image_tag('live_mouse.png', size: "30x30", class: 'favorite_mouse_icon') %>
          <% if subject.mouse.treatment_status == 'off' %>
            <%= image_tag('no_treatment.png', size: "30x30", class: 'treatment_off_icon') %>
          <% else %>
            <%= image_tag('black_treatment.png', size: "30x30", class: 'treatment_off_icon') %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
</div></br>

<h1 class='card-title'>Saved Notes</h1>

<div class="tab">
  <% @user.protocols.each do |protocol| %>
      <%= button_tag("#{protocol.name}", class: "tablinks", id: "#{protocol.name.downcase.gsub(" ", "")}" )%>
  <% end %>
  <%= button_tag("All Saved Notes", class: "tablinks", id: "allProtocols" )%>
</div>

<%= render partial: 'mice/saved_note', collection: @user.saved_notes %>
