<div class='analytics-selection-container'>
<h5 class='card-title'>Group 1<h5>
Ploidy <%= select_tag 'ploidy', options_for_select(["N/A", "true", "false"]) %>
Diet <%= select_tag 'diet', options_for_select(["N/A", "rapamycin", "control"]) %>

<%= submit_tag "Search", {:class => 'query'} %>
</div>
<h5>Group 2<h5>
Ploidy <%= select_tag 'ploidy', options_for_select(["N/A", "true", "false"]) %>
Diet <%= select_tag 'diet', options_for_select(["N/A", "rapamycin", "control"]) %>

<%= submit_tag "Search", {:class => 'query'} %>

<canvas id="myChart" width="1600" height="900"></canvas>

<script>
// can i do two query calls on click?
// why isn't jquery working?

  $('.query').on("click", getQueryMice)

  var API = "http://localhost:3000";

  function getQueryMice()  {
    var ploidy = $('#ploidy option:selected').text();
    var diet = $('#diet option:selected').text();
    console.log(ploidy)
    console.log(diet)
    fetch(`${API}/api/v1/mice/find?trisomic=${ploidy}&diet=${diet}`)
      .then(response => response.json())
      .then(data => console.log(data))
  }



  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [1,2,3],
      datasets: [
        {
          data: [1,2,3]
        }
      ]
    }
  });



</script>
