<div class='container'>
  <div class='card'>
    <h2 class='card-title'>Log In</h2>
    <div class='card-form'>
      <%= form_for :session, url: login_path do |f| %>
        <%= f.email_field :email, placeholder: "Email" %></br></br>
        <%= f.password_field :password, placeholder: "Password" %></br></br>
        <%= f.submit 'Login'%><br></br>
        Not registered?</br>
        <%= link_to 'Create Account', new_user_path %></div>
      </div></br>
    <% end %>

  <div class="google-button">
    <%= image_tag('google_logo.png', size: "20x20", class: 'google-logo') %>
    <%= link_to("Login with Google", '/auth/google_oauth2', class: 'button-text') %>
  </div>

</div>
