<div class='note'>
  <p class= 'note-content'>
    <%= note.content %><br></p>
  <p class= 'note-details'>
    <%= note.created_at.localtime.strftime("Note added on %m/%d/%Y, %I:%M%P") %>
    by
    <%= note.user.first_name%> <%= note.user.last_name %>
    <% if current_user.saved_notes.find_by(note: note) %>
      <%= link_to image_tag('favorite_star.png', size: '25x25'), saved_note_path(note_id: note.id), method: :delete %>
    <% else %>
      <%= link_to image_tag('unfavorite_star.png', size: '15x15'), saved_notes_path(note_id: note.id), method: :create %>
    <% end %>
  </p><hr>
</div>
