<h1 class='card-title'>All Mice</h1>

<div class="filter-selections">
  <%= form_tag :filter, method: :get do %>
    <%= check_box_tag 'diet', 'rapamycin', false, class: 'check-opt' %>
    <%= label_tag 'Rapamycin', nil, class: 'check-label' %>
    <%= check_box_tag 'diet', 'control', false, class: 'check-opt' %>
    <%= label_tag 'Control', nil, class: 'check-label' %>
    <%= check_box_tag 'ploidy', 'trisomic', false, class: 'check-opt' %>
    <%= label_tag 'Trisomic', nil, class: 'check-label' %>
    <%= check_box_tag 'ploidy', 'disomic', false, class: 'check-opt' %>
    <%= label_tag 'Disomic', nil, class: 'check-label' %>
    <%= check_box_tag 'color', 'black', false, class: 'check-opt' %>
    <%= label_tag 'Black', nil, class: 'check-label' %>
    <%= check_box_tag 'color', 'agouti', false, class: 'check-opt' %>
    <%= label_tag 'Agouti', nil, class: 'check-label' %>
    <%= check_box_tag 'gender', 'female', false, class: 'check-opt' %>
    <%= label_tag 'Female', nil, class: 'check-label' %>
    <%= check_box_tag 'sex', 'male', false, class: 'check-opt' %>
    <%= label_tag 'Male', nil, class: 'check-label' %>
    <%= check_box_tag 'treatment_status', 'on', false, class: 'check-opt' %>
    <%= label_tag 'On Treatment', nil, class: 'check-label' %>
    <%= check_box_tag 'treatment_status', 'off', false, class: 'check-opt' %>
    <%= label_tag 'Off Treatment', nil, class: 'check-label' %>
    <%= check_box_tag 'harvest_status', 'live', false, class: 'check-opt' %>
    <%= label_tag 'Live', nil, class: 'check-label' %>
    <%= check_box_tag 'harvest_status', 'harvested', false, class: 'check-opt' %>
    <%= label_tag 'Harvested', nil, class: 'check-label' %></br>
    <%= submit_tag "Filter Mice", id: 'filter-button', class: "card-button" %>
  <% end %>
</div>

<div class='mouse-house'>
  <% @mice.each do |mouse| %>
    <% if mouse.users.include?(current_user) %>
      <div class='favorite-mouse'>
        <div class='star-icon'><%= link_to image_tag('outline_star.svg', size: "25x25", class: "favorite_icon"), tracked_subject_path(lab_id: mouse.lab_id), method: :delete, class: 'unfavorite-link' %></div>
        <div class='index-mouse-header'>
          <%= link_to "#{mouse.lab_id}", mouse_path(mouse.lab_id) %>
          <div class='protocol-number'><%= mouse.protocol.name %></div>
        </div>
        <% if mouse.harvest_status == 'harvested' %>
          <div class='index-mouse-icons'>
            <%= image_tag('dead-mouse.png', size: "30x30", class: 'favorite_mouse_icon') %>
            <% if mouse.treatment_status == 'off' %>
              <%= image_tag('no_treatment.png', size: "30x30", class: 'treatment_off_icon') %>
            <% else %>
              <%= image_tag('black_treatment.png', size: "30x30", class: 'treatment_off_icon') %>
            <% end %>
          </div>
        <% else %>
          <div class='index-mouse-icons'>
            <%= image_tag('live_mouse.png', size: "30x30", class: 'favorite_mouse_icon') %>
            <% if mouse.treatment_status == 'off' %>
              <%= image_tag('no_treatment.png', size: "30x30", class: 'treatment_off_icon') %>
            <% else %>
              <%= image_tag('black_treatment.png', size: "30x30", class: 'treatment_off_icon') %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% elsif mouse.active_status == 'retired' %>
    <div class='retired-mouse'>
      <div class='star-icon'><%= link_to image_tag('unfavorite_star.png', size: "25x25", class: "favorite_icon"), tracked_subjects_path(lab_id: mouse.lab_id), method: :post, class: 'favorite-link' %></div>

      <div class='index-mouse-header'>
        <%= link_to "#{mouse.lab_id}", mouse_path(mouse.lab_id) %>
        <div class='protocol-number'><%= mouse.protocol.name %></div>
      </div>
      <% if mouse.harvest_status == 'harvested' %>
        <div class='index-mouse-icons'>
          <%= image_tag('dead-mouse.png', size: "30x30", class: 'favorite_mouse_icon') %>
          <% if mouse.treatment_status == 'off' %>
            <%= image_tag('no_treatment.png', size: "30x30", class: 'treatment_off_icon') %>
          <% else %>
            <%= image_tag('black_treatment.png', size: "30x30", class: 'treatment_off_icon') %>
          <% end %>
        </div>
      <% else %>
        <div class='index-mouse-icons'>
          <%= image_tag('live_mouse.png', size: "30x30", class: 'favorite_mouse_icon') %>
          <% if mouse.treatment_status == 'off' %>
            <%= image_tag('no_treatment.png', size: "30x30", class: 'treatment_off_icon') %>
          <% else %>
            <%= image_tag('black_treatment.png', size: "30x30", class: 'treatment_off_icon') %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% else %>
      <div class='index-mouse'>
        <div class='star-icon'><%= link_to image_tag('unfavorite_star.png', size: "25x25", class: "favorite_icon"), tracked_subjects_path(lab_id: mouse.lab_id), method: :post, class: 'favorite-link' %></div>

        <div class='index-mouse-header'>
          <%= link_to "#{mouse.lab_id}", mouse_path(mouse.lab_id) %>
          <div class='protocol-number'><%= mouse.protocol.name %></div>
        </div>
        <% if mouse.harvest_status == 'harvested' %>
          <div class='index-mouse-icons'>
            <%= image_tag('dead-mouse.png', size: "30x30", class: 'favorite_mouse_icon') %>
            <% if mouse.treatment_status == 'off' %>
              <%= image_tag('no_treatment.png', size: "30x30", class: 'treatment_off_icon') %>
            <% else %>
              <%= image_tag('black_treatment.png', size: "30x30", class: 'treatment_off_icon') %>
            <% end %>
          </div>
        <% else %>
          <div class='index-mouse-icons'>
            <%= image_tag('live_mouse.png', size: "30x30", class: 'favorite_mouse_icon') %>
            <% if mouse.treatment_status == 'off' %>
              <%= image_tag('no_treatment.png', size: "30x30", class: 'treatment_off_icon') %>
            <% else %>
              <%= image_tag('black_treatment.png', size: "30x30", class: 'treatment_off_icon') %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
