<h1 class='card-title'>Mouse #<%= @mouse.original_id %></br>
  <% if @mouse.users.include?(current_user) %>
  <%= link_to image_tag('favorite_star.png', size: "50x50", class: 'favorited'), tracked_subject_path(original_id: @mouse.original_id), method: :delete %>
  <% else %>
  <%= link_to image_tag('unfavorite_star.png', size: "35x35", class: 'unfavorited'), tracked_subjects_path(original_id: @mouse.original_id), method: :post %>
  <% end %>
</h1>

<div id="container" >
  <div id="left" ><h2>Attributes</h2>
    <table>
      <tr>
        <th> Status </th>
        <td><%= @mouse.status.titleize %></td>
      </tr>
      <tr>
        <th> Group </th>
        <td><%= @mouse.group_number %></td>
      </tr>
      <tr>
        <th> Trisomic </th>
        <td><%= @mouse.trisomic %></td>
      </tr>
      <tr>
        <th> Diet </th>
        <td><%= @mouse.diet.titleize %></td>
      </tr>
      <tr>
        <th> Protein(ug/ml) </th>
        <td><%=@mouse.protein_ug_per_ml %></td>
      </tr>
      <tr>
        <th> Color </th>
        <td><%= @mouse.color.titleize %></td>
      </tr>
      <tr>
        <th> Sex </th>
        <td><%= @mouse.sex.titleize %></td>
      </tr>
      <tr>
        <th> Date of Birth </th>
        <td><%= @mouse.date_of_birth %></td>
      </tr>
      <tr>
        <th> Experiment Start Date </th>
        <td><%= @mouse.experiment_start_date %></td>
      </tr>
      <tr>
        <th> Harvest Date </th>
        <td><%= @mouse.harvest_date %></td>
      </tr>
      <tr>
        <th> Weight(g) </th>
        <td><%= @mouse.weight_in_grams %></td>
      </tr>
      <tr>
        <th> Record Last Updated </th>
        <td><%= @mouse.updated_at %></td>
      </tr>
    </table>
  </div>

  <div id="right">
    <h2>Lab Notes (<%= @mouse.notes.count %>)</h2>
      <%= render partial: 'mice/note', collection: @mouse.notes.reverse %>
      <%= render partial: 'notes/form' %>
  </div>

</div>
