<h1 class='card-title'><%= @presenter.display_original_id %></br>
  <% if @presenter.mouse_is_favorite?(current_user) %>
  <%= link_to image_tag('favorite_star.png', size: "50x50", class: 'favorited'), tracked_subject_path(original_id: @presenter.mouse.original_id), method: :delete, class: 'unfavorite-link' %>
  <% else %>
  <%= link_to image_tag('unfavorite_star.png', size: "35x35", class: 'unfavorited'), tracked_subjects_path(original_id: @presenter.mouse.original_id), method: :post, class: 'favorite-link' %>
  <% end %>
</h1>

<div id="container" >
  <div id="left" ><h2>Attributes</h2>
    <table>
      <tr>
        <th> Status </th>
        <td><%= @presenter.display_status %></td>
      </tr>
      <tr>
        <th> Group </th>
        <td><%= @presenter.display_group_number %></td>
      </tr>
      <tr>
        <th> Trisomic </th>
        <td><%= @presenter.display_trisomic %></td>
      </tr>
      <tr>
        <th> Diet </th>
        <td><%= @presenter.display_diet %></td>
      </tr>
      <tr>
        <th> Protein(ug/ml) </th>
        <td><%=@presenter.display_protein %></td>
      </tr>
      <tr>
        <th> Color </th>
        <td><%= @presenter.display_color %></td>
      </tr>
      <tr>
        <th> Sex </th>
        <td><%= @presenter.display_sex %></td>
      </tr>
      <tr>
        <th> Date of Birth </th>
        <td><%= @presenter.mouse.date_of_birth %></td>
      </tr>
      <tr>
        <th> Experiment Start Date </th>
        <td><%= @presenter.mouse.experiment_start_date %></td>
      </tr>
      <tr>
        <th> Harvest Date </th>
        <td><%= @presenter.mouse.harvest_date %></td>
      </tr>
      <tr>
      <tr>
        <th> Harvest Brain Temperature Read </th>
        <td><%= @presenter.mouse.harvest_brain_temp %></td>
      </tr>
      <tr>
        <th> Weight(g) </th>
        <td><%= @presenter.display_weight %></td>
      </tr>
      <tr>
        <th> Record Last Updated </th>
        <td><%= @presenter.format_updated_timestamp %></td>
      </tr>
    </table>
  </div>

  <div id="right">
    <h2>Lab Notes (<%= @presenter.mouse.notes.count %>)</h2>
      <%= render partial: 'mice/note', collection: @presenter.mouse.notes.reverse %>
      <%= render partial: 'notes/form' %>
  </div>

</div>
