<h1>Mouse #<%= @mouse.original_id %>

<ul>
  <li>Trisomic: <%= @mouse.trisomic %></li>
  <li>Protein(ug/ml): <%= @mouse.protein_ug_per_ml %></li>
  <li>Diet: <%= @mouse.diet %></li>
  <li>Color: <%= @mouse.color %></li>
  <li>Sex: <%= @mouse.sex %></li>
  <li>Date of Birth: <%= @mouse.date_of_birth %></li>
  <li>Experiment Start Date: <%= @mouse.experiment_start_date %></li>
  <li>Harvest Date: <%= @mouse.harvest_date %></li>
  <li>Group Number: <%= @mouse.group_number %></li>
  <li>Harvest Brain Temperature Read: <%= @mouse.harvest_brain_temp %></li>
  <li>Weight(g): <%= @mouse.weight_in_grams %></li>
  <li>Status: <%= @mouse.status %></li>
</ul>

<%= link_to "Track Subject", tracked_subjects_path(original_id: @mouse.original_id), method: :post %>
