<h1 class='card-title'><%= @presenter.display_lab_id %></br>
  <% if @presenter.mouse_is_favorite?(current_user) %>
  <%= link_to image_tag('favorite_star.png', size: "43x43", class: 'favorited'), tracked_subject_path(lab_id: @presenter.mouse.lab_id), method: :delete, class: 'unfavorite-link' %>
  <% else %>
  <%= link_to image_tag('unfavorite_star.png', size: "35x35", class: 'unfavorited'), tracked_subjects_path(lab_id: @presenter.mouse.lab_id), method: :post, class: 'favorite-link' %>
  <% end %>
</h1>

<div id="container" >
  <div id="left" ><h2>Attributes</h2>
    <table>
      <tr>
        <th> Protocol </th>
        <td><%= @presenter.mouse.protocol.name %></td>
      </tr>
      <tr>
        <th> Harvest Status </th>
        <td><%= @presenter.display_harvest_status %></td>
      </tr>
      <tr>
        <th> Treatment Status </th>
        <td><%= @presenter.display_treatment_status %></td>
      </tr>
      <tr>
      <tr>
        <th> Active Status </th>
        <td><%= @presenter.display_active_status %></td>
      </tr>
      <tr>
        <th> Group </th>
        <td><%= @presenter.display_group_number %></td>
      </tr>
      <tr>
        <th> Ploidy </th>
        <td><%= @presenter.display_ploidy %></td>
      </tr>
      <tr>
        <th> Diet </th>
        <td><%= @presenter.display_diet %></td>
      </tr>
      <tr>
        <th> Color </th>
        <td><%= @presenter.display_color %></td>
      </tr>
      <tr>
        <th> Sex </th>
        <td><%= @presenter.display_sex %></td>
      </tr>
      <tr>
        <th> Date of Birth </th>
        <td><%= @presenter.display_date_of_birth %></td>
      </tr>
      <tr>
        <th> Experiment Start Date </th>
        <td><%= @presenter.display_experiment_start_date %></td>
      </tr>
      <tr>
        <th> Record Last Updated </th>
        <td><%= @presenter.format_updated_timestamp %></td>
      </tr>
    </table>
  </div>

  <div id="right">
    <h2>Lab Notes (<%= @presenter.mouse.notes.count %>)</h2>
      <%= render partial: 'mice/note', collection: @presenter.mouse.notes.reverse %>
      <%= render partial: 'notes/form' %>
  </div>

</div>
