<h2>Create an Account</h2>

<%= link_to 'Create Account Using Google', '/auth/google_oauth2' %>
<div class='new-account'>
  <div class='new-account-card'

    <br />
        <%= form_for @user do |f| %>
        <div class="form-group">
          <%= f.label :first_name, 'First Name' %><br />
          <%= f.text_field :first_name, placeholder: "first name" %>
        </div>
          </br>
        <div class="form-group">
          <%= f.label :last_name, 'Last Name' %><br />
          <%= f.text_field :last_name, placeholder: "last name" %>
        </div>
          </br>
        <div class="form-group">
          <%= f.label :email, 'Email' %><br />
          <%= f.email_field :email, placeholder: "email address" %>
        </div>
          </br>
        <div class="form-group">
          <%= f.label :password, 'Password' %><br />
          <%= f.password_field :password, placeholder: "password" %>
        </div>
          </br>
        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm Password" %><br />
          <%= f.password_field :password_confirmation, placeholder: "retype password" %>
        </div>
          </br>
        <%= f.submit 'Create Account', class: "btn btn-success" %>
        <br />
        <br />
        <p>Already have an account? <%= link_to 'Login', login_path %></p>

        <% end %>
  </div>
</div>
