<h2>Create an Account</h2>
<br />
    <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, placeholder: "First Name" %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, placeholder: "First Name" %>
    </div>
    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, placeholder: "password" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, "Confirm password" %><br />
      <%= f.password_field :password_confirmation, placeholder: "password" %>
    </div>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, placeholder: "email address" %>
    </div>
    <br />
    <%= f.submit 'Create Account', class: "btn btn-success" %>
    <br />
    <br />
    <p>Already have an account? <%= link_to 'Login', login_path %></p>

    <% end %>
  </div>
