<div class='container'>
  <div class='card'>
    <h2 class='card-title'>Create an Account</h2>
    <div class='card-form'>
      <%= form_for @user do |f| %>
        <%= f.text_field :first_name, placeholder: "First Name" %></br></br>
        <%= f.text_field :last_name, placeholder: "Last Name" %></br></br>
        <%= f.email_field :email, placeholder: "Email Address" %></br></br>
        <%= f.password_field :password, placeholder: "Password" %></br></br>
        <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %></br></br>
        <%= f.submit 'Create Account', class: 'card-button' %></br></br>
        <div class="google-button">
          <%= image_tag('google_logo.png', size: "20x20", class: 'google-logo') %>
          <%= link_to("Create Account with Google", '/auth/google_oauth2', class: 'button-text') %>
        </div>
        <p class='card-directive'>
          Already have an account?</br>
          <%= link_to 'Login', login_path %>
        </p>
      <% end %>
    </div>
  </div></br>

</div>
