<div class='container'>
  <div class='card'>
    <h1 class='card-title'>Profile Information</h1>
    <div class='card-form'>
      <h3><%= @user.first_name %> <%= @user.last_name %><//h3>
      <p><%= @user.email %></p>
      <ul class='profile-details'>
        <% @user.protocols.each do |protocol| %>
          <li><%= protocol.name %></li>
        <% end %>
      </ul>

        <div class='card-button' id='edit-profile'>
          <%= link_to 'Edit Profile', edit_user_path(current_user) %>
        </div>
    </div>
  </div></br>

</div>
