<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/dashboard">My Subjects</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li> <%= link_to "All", root_path %> </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop By Category <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Category 1", root_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Category 2", root_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Category 3", root_path %></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <%= link_to root_path, id: 'go-to-cart', type: "button", class: "btn btn-lg" do %>
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">
          </span>
        <% end %>
        <% if logged_in? %>
          <%= button_to 'Logout', logout_path, method: :delete %>
        <% else %>
          <%= link_to 'Login', login_path %>
        <% end %>
      </ul>

    <ul class="nav navbar-nav">
      <%= form_tag :user_dashboard, method: :show, class: "form-inline" do %>
        <div class="form-group search-field">
          <%= text_field_tag :search, "Search by mouse id", class: "form-control" %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
      <% end %>
    </ul>
  </div>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
