  <div class= 'nav-bar'>
    <%= link_to image_tag('knoebel_logo.png', size: "150x70", class: 'nav-bar-item', id: 'nav-image'), "https://www.du.edu/knoebel-institute-healthy-aging/interdisciplinary-approach/" %>
    <% if logged_in? %>
    <div class='nav-bar-item'><%= link_to "My Dashboard", user_dashboard_path %></div>
    <div class='nav-bar-item'>
      <div class="dropdown">
        <button class="dropbtn" id='protocolMenuBtn'>Mice By Protocol</button>
        <div class="dropdown-content" id="protocolMenu">
          <% current_user.protocols.each do |protocol| %>
            <%= link_to "#{protocol.name}", protocol_path(slug: protocol.slug) %></a>
          <% end %>
          <%= link_to "All My Mice", protocols_path %></a>
        </div>
      </div>
    </div>
      <div class="nav-bar-item">
        <%= form_tag :search, method: :get do %>
          <%= text_field_tag :search, nil, placeholder: "search by mouse id", class: 'nav-search' %>
          <%= submit_tag "Search", class: "nav-button" %>
        <% end %>
      </div>
      <div class='nav-bar-item'><%= link_to "Analytics", user_analytics_path %></div>


      <div class='nav-bar-item'>
        <button id='notificationBtn'><%= link_to image_tag('notification.png', size: '28x28'), user_dashboard_path %></button>
        <span class="button_badge"><%= current_user.notifications.unread.count %></span>
        <div class="dropdown-content" id="notificationMenu">
          <% current_user.notifications.unread.each do |notification| %>
          <%= link_to "#{notification.note.user.first_name} posted about Mouse ##{notification.note.mouse.lab_id} at #{notification.created_at}", mouse_path(notification.note.mouse.lab_id, notification_id: notification.id) %>
          <% end %>
        </div>
        <div class="dropdown">
          <button class="dropbtn" id="profileMenuBtn"><%= current_user.first_name %> <%= current_user.last_name %></button>
          <div class="dropdown-content" id="profileMenu">
            <%= link_to "My Profile", root_path %></a>
            <%= link_to "Logout", logout_path, method: :delete %>
          </div>
        </div>
      </div>
    </div>

    <% else %>
      <div class='nav-bar-item' id='nav-login'><%= link_to 'Login', login_path %></div>
    <% end %>
  </div>

<div class='spacer'></div>
