  <div class= 'nav-bar'>
    <%= image_tag('knoebel_logo.png', size: "150x70", class: 'nav-bar-item') %>
    <% if logged_in? %>
      <div class='nav-bar-item'><%= link_to "My Subjects", user_dashboard_path %></div>
      <div class='nav-bar-item'><%= link_to "All Mice", mice_path %></div>
      <div class="nav-bar-item">
        <%= form_tag :search, method: :get do %>
          <div class="form-group search-field">
            <%= text_field_tag :search, "Search by mouse id" %>
            <%= submit_tag "Search", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <div class='nav-bar-item'>
        <div class="dropdown">
          <button class="dropbtn"><%= current_user.first_name %> <%= current_user.last_name %></button>
          <div class="dropdown-content">
            <%= link_to "My Profile", root_path %></a>
            <%= link_to "Logout", logout_path, method: :delete %>
          </div>
        </div>
      </div>

    <% else %>
      <div class='nav-bar-item'><%= link_to 'Login', login_path %></div>
    <% end %>
  </div>

<div class='spacer'></div>
