<!DOCTYPE html>
<html>

  <head>
    <style type="text/css">
      @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
      @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab');
    </style>

    <title>LabMiceTracker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    javascript_include_tag "//www.google.com/jsapi", "chartkick", 'data-turbolinks' => true %>
  </head>

  <body>

    <%= render 'nav' %>

    <% flash.each do |type, message| %>
      <%= content_tag :div, message, class: type %>
    <% end %>

    <%= yield %>

    <%= render 'footer' %>

  </body>
</html>
